<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Welcome!!</h1>
        <% if(!user){ %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
    <% } else { %>
            <li><a href="#"> Singed In As <strong> <%= user.name %> </strong></a></li>
            <li><a href="/logout">Logout</a></li>
    <% } %>
    <% if(user && user.image){ %>
    <img src="<%= user.image %>" alt="">
    <% } %>
</body>
</html>