<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Sign Up Form </h1> 
<form method="POST" action="/register">    
  <input type="text" name="username" placeholder="username">  
  <input type="text" name="name" id="">
  <input type="email" name="email" id="">
  <input type="password" name="password" placeholder="password">
  <input type="text" name="password2" id="">
  <button> Submit </button>
</form> 
   <li><a href="/register">Sign Up</a></li>
   <li><a href="/logout">Logout</a></li>
   <li><a href="/login">Login</a></li>
</body>
</html>